<!DOCTYPE html>
<html ng-app>

<head>
    <title>Soccer5 Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="css/soccer5.css" rel="stylesheet"/>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="js/controller.js"></script>
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand">Soccer 5</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a>Calendar </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br/><br/><br/>

<div class='container' ng-controller="MatchCtrl">
    <div class='row'>
        <div class="span1">&nbsp;
        </div>
        <div class="span11">&nbsp;
            <h2>Next Matches</h2>
            <table class="table table-striped table-bordered"
                   ng-repeat="match in matches">
                <thead>
                <tr name="head">
                    <th><i class="icon-time"></i> {{match.dateStr}} <br/>
                        <span class="open" ng-show="match.open">Missing {{match.missingPlayers}} players!</span>
                        <span class="full" ng-show="match.full">The match is full !</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="player in match.players">
                    <td><i class="icon-user"></i> {{player.name}}</td>
                </tr>
                <tr ng-repeat="guest in match.guests">
                    <td><i class="icon-question-sign"></i> {{guest}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>